<html id="html">
  <head>
    <title>Plantly</title>
    <link
      href="https://fonts.googleapis.com/css?family=Black+Ops+One"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/ErrorPages/errorpage.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../Logo_2-No_Background-Favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../public/js/Login/ErrorPages/errorpage.js"></script>
  </head>

  <body id="body">
    <article class="main">
      <article id="container">
        <article class="container">
          <article class="container1">&nbsp;</div>
          <h2 class="frame-1">Our Site is</h2>
          <h2 class="frame-2">Under Construction</h2>
          <h2 class="frame-3">
            <span>< Construction /></span><br />
            <span>Our Site</span>
          </h2>
          <a href="/">Back to Login</a>
        </article>
      </article>
    </article>
  </body>
</html>
