<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <title>Add a new plant</title>
    </head>
    <body>
        <header>

        </header>
        <main>

            <fieldset>
                <legend>Add a new plant</legend>
                <form>
                  <label for="email">Nickname</label>
                  <label for="plantSpecies">Plant species</label>=
                  <!-- insert into Plant (plantApiId, plantName, scientificName, otherName, plantImage, plantType, categoryId) values(1, 'European Silver Fir', 'Abies Alba','Common Silver Fir', 'img1.png', 'tree',1) -->
                  <button type="submit">Add plant</button>
                </form>
              </fieldset>

        </main>
    </body>
</html>