<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/test.css">
    <title>Document</title>
</head>
<body>
   
    <h1> Welcome <%= user.username %>!</h1>
    <a href="/">Home</a>
    <a href="/plant/list">List</a>
    <a href="/plant/search">Details</a>
    <a href="/userplant">UserPlant</a>
    <a href="/weather">Weather</a>

</body>
</html>