<span class="plantTile rightSubcontainer">
  <span class="plantTileLeftHalf">
    <img src="<%= imageUrl%>" />
  </span>
  <span class="plantTileRightHalf">
    <%- plantInfoTiles %>
    <p>More info needs to go here</p>
  </span>
</span>
