<span class="plantTile rightSubcontainer">
  <span class="plantTileLeftHalf">
    <img src="<%= imageUrl%>" />
  </span>
  <span class="plantTileRightHalf">
    <%- plantInfoBubbles %>
    <p>More info needs to go here</p>
    <h2><%= nickName %></h2>
  </span>
</span>
