<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Plants</title>

  </head>

  <body>
    <header></header>
    <main>

        <span class="block rightSubcontainer">
          <span class="lefthalf">
            <img src="/static/images/philodendron.jpg"/>
          </span>
          <span class="righthalf">
            <%- plantInfoTile %>
          </span>
        </span>
  
    </main>
  </body>
</html>
