<span class="smallBlock smallBlockWater">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/waterIcon.png" />
        Water
    </header>
    <span class="smallBlockBottomText">
        <p>
            <%= "Weekly" %>
        </p>
    </span>
</span>

<span class="smallBlock smallBlockSunlight">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/sunIcon.svg" />
        Light
    </header>
    <span class="smallBlockBottomText">
        <p>
            <%= "Direct sunlight" %>
        </p>
    </span>
</span>
<span class="smallBlock smallBlockTemp">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/thermometerIcon.png" />
        Temp.
    </header>
    <span class="smallBlockBottomText">
        <p>
            <%= "18-24\u00B0C" %>
        </p>
    </span>
</span>
<span class="smallBlock smallBlockHousing">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/homeIcon.svg" />
        Home
    </header>
    <span class="smallBlockBottomText">
        <p>
            <%= "Indoor" %>
        </p>
    </span>
</span>




