body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: #ffffff;
  color: #757575;
  border: 0.1em solid #757575;
  padding: 0.625em 1.25em;
  font-size: 0.875em;
  text-decoration: none;
  text-align: center;
  align-items: left;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #f1f1f1;
  color: #333333;
}

.btn-danger {
  background-color: #dc4e41;
  color: #ffffff;
  border-color: #dc4e41;
}

.btn-danger:hover {
  background-color: #c0392b;
  color: #ffffff;
}
