<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign in</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/Login/login.css"
    />
  </head>
  <body>
    <header>
      <img src="/static/images/Login/Header_01.png" width="100%" />
    </header>
    <main>
      <fieldset>
        <legend>Sign in</legend>
        <form>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <button type="submit"><a href="/dashboard">Sign in</a></button>
        </form>
      </fieldset>
      <p class="forgot-password">Forgot password?</p>
      <hr />
      <p class="create-account">
        <a href="/register">Create account</a>
      </p>
    </main>
    <footer>
      <img src="/static/images//Login/Footer_Image_01.png" width="100%" />
    </footer>
  </body>
</html>
