<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/css/About/About.css"
    />
  </head>
  <body>
    <header>
      <h1>About Us</h1>
    </header>
    <main>
      <section>
        <h2>Our Company</h2>
        <p>
          Well we are not sure yet but the application allows one to add plants.
          Thats about it. If you have more suggestions then you can customise it
          further.
        </p>
      </section>
      <section>
        <h2>Our Team</h2>
        <ul>
          <li>Xander - Team Lead</li>
          <li>Johan - Expert Dashboard Guy</li>
          <li>Juan - The Backend Guy</li>
          <li>Zeerak - The Lost Guy</li>
        </ul>
      </section>
    </main>
  </body>
</html>
