<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/Elements/dashboardElements.css" />
</head>
<article class="plantFactCard">
    <img class="plantFactImg" src=" <%= plantFact.imageUrl %> " />
    <span class="plantFactTextContainer">
        <h2>
            Plant fact of the day:
        </h2>
        <p class="plantFactText">
            <%= plantFact.plantFact %>
        </p>
    </span>
</article>

</html>