<article class="plantFactCard">
    <img src=" <%= plantFact.imageUrl %> " />
    <span class="plantFactTextContainer">
        <h2>
            Plant Fact of the day:
        </h2>
        <p>
            <%= plantFact.plantFact %>
        </p>
    </span>
</article>