<span class="infoBubble infoBubbleWater">
    <img class="dashboardPlantTotalImg" src="/static/images/plantCare.png" />
    <span class="infoBubbleBottomText">
        <p>
            Total plants: <%= "totalPlants" %>
        </p>
    </span>
</span>