<script>
    var myValue = ''
    let searchResults = []
    async function searchOptions() {
        var searchQuery = document.getElementById("searchInput").value;
        if (searchQuery.length >= 3) {
            fetchOptions(searchQuery).then(
                (response) => {
                    console.log(response[0])
                    searchResults = response
                    // myValue = response.value
                    console.log(JSON.stringify(searchResults) + "This is the second search result")
                }
            )
        }
    }
    async function fetchOptions(query) {
        return fetch(`http://localhost:8000/plant/search/${query}`).then(
            (response) => {
                return response.json()
            })
    }

</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
    <title>Plant care</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/Plants/addPlant.css" />
</head>

<body>
    <main class="dashboard">
        <aside class="sidebar flex-c">
            <img class="logo" alt="Plant care logo" src="/static/images/logo/Plant_Care.png">
            <hr>
            <nav>
                <ul>
                    <li> <img class="icon" alt="dashboard-icon" src="/static/images/icons/dashboard-icon.png">
                        <a href="/"> Dashboard</a>
                    </li>
                    <li> <img class="icon" alt="dashboard-icon" src="/static/images/icons/dashboard-icon.png">
                        <a href="/plant/list">List</a>
                    </li>
                    <li> <img class="icon" alt="dashboard-icon" src="/static/images/icons/dashboard-icon.png">
                        <a href="/plant/details">Details</a>
                    </li>
                </ul>
            </nav>
            <hr>
            <p class="log-out">
                <img class="icon" alt="dashboard-icon" src="/static/images/icons/dashboard-icon.png">
                <a href=""> Logout </a>
            </p>
        </aside>
        <section class="content">
            <section class="topbar flex flex-sb">
                <form class="search flex">
                    <input type="text" id="search" name="search" placeholder=" Search ">
                </form>
                <p class="user flex">User Name
                    <img alt="user" class="user" src="/static/images/icons/user-icon(1).png">
                </p>
            </section>
            <section class="addPlant-section">
                <h2>Enter your plant details below: </h2>
                <!-- check action -->
                <form action="/addPlant" method="POST">
                    <h3>Give your new plant a cute name:</h3>
                    <label for="nickName">Name</label><br>
                    <input class="addPlantInput" type="text" id="nickName" name="nickName" value=""><br>

                    <label for="plantSpecies">Plant species</label><br>

                    <input class="addPlantSearchBox" type="text" id="searchInput" onkeyup="searchOptions()"
                        placeholder="Search...">
                    <ul id="searchResults"></ul>

                    <button type="submit">Add plant</button><br>
                </form>


            </section>
    </main>
</body>

</html>