<link
rel="stylesheet"
type="text/css"
href="/static/css/Plants/addPlant.css"
/>
<section class="addPlant-section">
    <h2>Enter your plant details below: </h2>
    <form>

        <label for="nickName">Nickname</label><br>
        <input type="text" id="nickName" name="nickName" value=""><br>

        <label for="scientificName">scientificName</label><br>
        <input type="text" id="scientificName" name="scientificName" value=""><br>

        <label for="nickName">Nickname</label><br>
        <input type="text" id="nickName" name="nickName" value=""><br>

        <label for="plantSpecies">Plant species</label><br>

            <input type="text" id="searchInput" onkeyup="searchOptions()" placeholder="Search...">
            <ul id="searchResults"></ul>

        <button type="submit">Add plant</button><br>
    </form>

</section>
