<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Plants</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="/static/css/Plants/plantTiles.css"
  />
  </head>
  <body>
    <header></header>
    <main>
        <span class="container">
              <%- plantTiles %>
        </span>
    </main>
  </body>
</html>
