<aside class="infoBubble infoBubbleWater">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/waterIcon.png" alt="Water Icon">
        Water
    </header>
    <p class="infoBubbleBottomText">
        <%= "Weekly" %>
    </p>
</aside>

<aside class="infoBubble infoBubbleSunlight">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/sunIcon.svg" alt="Sun Icon"/>
        Light
    </header>
    <p class="infoBubbleBottomText">
            <%= "Direct sunlight" %>
        </p>

</aside>

<aside class="infoBubble infoBubbleTemp">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/thermometerIcon.png" alt="Thermometer Icon"/>
        Temp.
    </header>
    <p class="infoBubbleBottomText">
            <%= "18-24\u00B0C" %>
        </p>

</aside>

<aside class="infoBubble infoBubbleHousing">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/homeIcon.svg" alt="House Icon"/>
        Home
    </header>
    <p class="infoBubbleBottomText">
            <%= "Indoor" %>
        </p>
</aside>
