<span class="infoBubble infoBubbleWater">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/waterIcon.png" />
        Water
    </header>
    <span class="infoBubbleBottomText">
        <p>
            <%= "Weekly" %>
        </p>
    </span>
</span>

<span class="infoBubble infoBubbleSunlight">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/sunIcon.svg" />
        Light
    </header>
    <span class="infoBubbleBottomText">
        <p>
            <%= "Direct sunlight" %>
        </p>
    </span>
</span>

<span class="infoBubble infoBubbleTemp">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/thermometerIcon.png" />
        Temp.
    </header>
    <span class="infoBubbleBottomText">
        <p>
            <%= "18-24\u00B0C" %>
        </p>
    </span>
</span>

<span class="infoBubble infoBubbleHousing">
    <header class="headerInfoBlock">
        <img class="iconImg" src="/static/images/homeIcon.svg" />
        Home
    </header>
    <span class="infoBubbleBottomText">
        <p>
            <%= "Indoor" %>
        </p>
    </span>
</span>
