.card {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  background: #e7e4e4d0;
  color: white;
  padding: 2em;
  border-radius: 1.875em;
  width: 100%;
  max-width: 26.25em;
  margin: 1em;
}

.card .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 2.75em;
  width: 2.75em;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 1.5em;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 6.25em);
}

.card button:hover {
  background: #7c7c7c6b;
}

.card h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.card .flex {
  display: flex;
  align-items: center;
}

.card .description {
  text-transform: capitalize;
  margin-left: 0.5em;
}

.card .weather.loading {
  visibility: hidden;
  max-height: 1.25em;
  position: relative;
}

.card .weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 1.25em;
}
