<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Google Authentication Example</title>
    <meta
      name="google-signin-client_id"
      content="215498039354-stuikepqhmesstn59l3139g6a41l4l51.apps.googleusercontent.com"
    />
  </head>
  <body>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("Helooooooo");
        // console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log("Name: " + profile.getName());
        // console.log("Image URL: " + profile.getImageUrl());
        // console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.
      }
    </script>
  </body>
</html> -->

<!-- views/success.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><span class="fa fa-lock"></span> Social Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger">
          <span class="fa fa-google"></span> SignIn with Google
        </a>
        <div class="row">
          <div class="col-sm-6">
            <div class="well"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
