<!DOCTYPE html>
<html>
  <head>
    <title>PlantCare SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/css/Authentication/Authentication.css"
    />
  </head>
  <body>
    <header>
      <h1>
        <aside class="fa fa-lock"></aside>
        Social Authentication
      </h1>
      <p>Login or Register with:</p>
    </header>

    <nav>
      <a href="/auth/google" class="btn btn-danger">
        <button class="fa fa-google"></button> SignIn with Google
      </a>
    </nav>

    <footer></footer>
  </body>
</html>
